<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>A12 GitHubApp</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

    <div class="hero-unit">
      <h1>GitHub Killer App</h1>
        <div class="existingComments">Please select an issue from the list at the bottom of the page...</div>

      <form id="issueMgmt">
        <label>Title</label>    
        <input type="text" name="title" value="">        
        <label>Write a new comment:</label>
        <textarea type="text" name="newComment" rows="4" cols="50"></textarea>
        <button name="commentClose">Post Comment and Close Issue</button>
        <button type="submit">Just Close the Issue, I've Got Nothing to Say to Jake</button>
      </form>
      <p>You sow Issuez</p>
      <ul class="issueList"></ul>
    </div>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script src="scripts/token.js"></script>
    


    <script type="text/template" id="listTemplateScript">
        <li><a href="" class="clickableList" data-id="<%= comments_url %>"><%= title %></a></li>
    </script>

    <script type="text/template" id="issueTemplateScript">   
        <h4><%= body %></h4>
    </script>



        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
